*{
    /* margin: 0; */
    /* padding: 0; */
}
td{
    text-align: center;
}

#h3{
    text-align: right;
}
#h1{
    text-align: right;
}
.container{
    /* margin-left: 300px; */
}
.hesap makinesi{ 
    /* margin-left: 0px; */
    /* margin-bottom: 0px; */

}